{% extends 'base.html' %}

{% block header_text %}Your Account{% endblock %}

{% block form_action %}/accounts/{{ account.id }}/add_transaction{% endblock %}

{% block table %}
	<table class="table" id="account_table">
		
	{% for a in account.transaction_set.all %}
		<tr>
			<td>{{forloop.counter}}: {{a.text}}</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}
